@model IEnumerable<MusicLesson.Models.Lessons>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LessonDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instrument)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Letter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tutor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LessonDateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration.Length)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instrument.InstrumentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Letter.AccountNo)
                </td>
                <td>
                    @{
                        var Name = item.Student.FirstName + " " + item.Student.LastName;
                        @Html.DisplayFor(modelItem => Name)
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tutor.TutorName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.LessonID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.LessonID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.LessonID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
