@model MusicLesson.Models.Letters

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Letters</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reference)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BeginningComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BeginningComment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Signature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Signature)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BankAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BankAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BSB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BSB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCost)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LetterID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
